/* banner color: #17a2b8 */
/* anchor color: #045092 */
/* profile picture border color: #cbcbcb */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: cursive;
    font-weight: bolder;
    color: black;
}

img {
    max-height: 100px;
    max-width: 100px;
}

.container {
    position: relative;
    background-color: white;
    height:400px;
    width: 800px;
    /* outline: 5px solid red;
    outline-offset: -5px; */
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
}

.top-banner {
    background-color: #17a2b8;
    height: 100px;
    /* outline: 5px solid blue;
    outline-offset: -5px; */
}

.user-photo {
    position: absolute;
    left: 60px;
    top: 80px;
    height: 100px;
    width: 100px;
    background-color: white;
    border: solid 3px #cbcbcb ;
    border-radius: 150px;
    padding: 2px;
}

.card-content {
    display: flex;
    flex-flow: column nowrap;
    /* outline: 5px solid green;
    outline-offset: -5px; */
    padding-top: 70px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.card-content-loc {
    display: flex;
    align-items: center;
    height: inherit;
    width: inherit;
}
.card-content h1 {
    font-size: 40px;
}
.card-content img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.profile-settings {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* outline: 5px solid pink;
    outline-offset: -5px; */
}

.profile-settings img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    padding-left: 25px;
}